@import 'settings.sass'
    
* 
    border: 0
    padding: 0
    margin: 0
    box-sizing: border-box

html
    text-size-adjust: 100%
    -webkit-text-size-adjust: 100%


.hideme
    display: none !important

body
    background-color: $text-color
    font-family: 'Open Sans', sans-serif
    font-size: 1rem
    font-kerning: normal;
    color: $text-color-light
    line-height: 1.6
    text-rendering: geometricPrecision;
    

main 
    width: 90vw
    max-width: 100rem
    min-width: 12rem
    margin: 0 auto
    padding-bottom: 5rem

h1 
    color: $text-color-light
    font-family: 'Major Mono Display', monospace
    margin-bottom: 2rem
    display: block
    font-weight: 400
    padding-top: 2rem

a 
    color: $main-color
    
button 
    border: 1px solid $text-color-light
    padding: 0.5rem 1rem
    margin: 0
    background: transparent
    color: $text-color-light
    border-radius: $border-radius
    cursor: pointer
    transition: all $transition-time ease-out
    outline: 0
    font-size: 1rem

    &:hover,
    &:focus,
    &.active
        border-color: $main-color
        color: $main-color

.logo
    display: flex
    justify-content: center
    margin-bottom: 2rem
    
    .icon
        display: block
        width: 8rem