@import 'settings.sass'
    
nav 
    position: fixed
    background-color: $bg-color
    bottom: 0
    left: 0
    right: 0
    box-shadow: $box-shadow-inset
    display: flex
    justify-content: space-between

    div 
        flex-grow: 1
        padding: 0.5rem
        display: flex
        justify-content: center
        align-items: center
    
